/*

*/

.version._2016_spring /* version checker */
{
	color: #00000E;
	background-color: #86FE51;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 90px;
	width: 0.01px;
}

#u132
{
	z-index: 25;
	height: 90px;
	top: 0px;
}

#u132-bw
{
	z-index: 25;
}

#u333
{
	z-index: 26;
	width: 218px;
	top: 21px;
	left: 50%;
	margin-left: -620px;
}

#u325
{
	z-index: 34;
	width: 34px;
	height: 50px;
	margin-right: -10000px;
}

#u134
{
	z-index: 33;
	width: 1px;
	height: 48px;
	top: 22px;
	left: 50%;
	margin-left: -572px;
}

#u133-6
{
	z-index: 27;
	width: 154px;
	min-height: 42px;
	top: 27px;
	left: 50%;
	margin-left: -556px;
}

#u299
{
	z-index: 3;
	width: 1280px;
	position: relative;
	background: transparent url("../images/img_7434.jpg") no-repeat center center;
	background-size: cover;
}

#u316
{
	z-index: 4;
	width: 428px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	position: relative;
	margin-right: -10000px;
	padding: 70px 777px 117.14999999999941px 75px;
	-pie-background: rgba(0,0,0,0.2);
}

#u298-8
{
	z-index: 5;
	width: 428px;
	min-height: 84px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 30px;
	font-size: 30px;
	letter-spacing: 1px;
	font-family: '__Ciutadella_3';
	font-weight: 700;
	position: relative;
}

#u301-4
{
	z-index: 13;
	width: 220px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: '__Ciutadella_3';
	font-weight: 700;
	margin-top: 35px;
	position: relative;
}

#u302-4
{
	z-index: 17;
	width: 139px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: '__Ciutadella_3';
	font-weight: 700;
	margin-top: 12px;
	position: relative;
}

#u304-4
{
	z-index: 21;
	width: 428px;
	min-height: 26px;
	background-color: transparent;
	color: #00B5E6;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 1px;
	font-family: '__Ciutadella_3';
	font-weight: 700;
	margin-left: 75px;
	margin-top: 60px;
	position: relative;
}

#u93
{
	z-index: 2;
	height: 149px;
}

#u93-bw
{
	z-index: 2;
	margin-top: 264px;
	height: 149px;
}

@font-face
{
	font-family: '__Ciutadella_3';
	src: url('../fonts/%7bemtype%7d%20ciutadella%20bold%20typeface.eot');
	src: local('☺'), url('../fonts/ciutadella%20bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

