#u132
{
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	position: fixed;
	border-width: 0px 0px 1px;
}

#u333
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u325
{
	position: relative;
	background: transparent url("../images/swim.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u325
{
	background-image: url('../images/swim_poster_u327.png');
}

#u134
{
	background-color: #CCCCCC;
	position: fixed;
}

#u133-6
{
	background-color: transparent;
	color: #00B5E6;
	line-height: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: '__Ciutadella_3';
	font-weight: 700;
	position: fixed;
}

#u93
{
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

